#footer {
  position: sticky;
  bottom: 0px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  background-color: #f7f7f7;
  height: 100px;
}
#content {
  height: 2000px;
}
#navbar{
    position: sticky;
    top: 0px;
}
